<!doctype html>
<html lang="en">
<head>
    <link rel="icon" th:href="@{/images/app-icon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/login-back.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body class="h-100 mh-100" >

<section class="background-radial-gradient overflow-hidden h-100 mh-100 row">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 h-100 mh-100">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Be Green <br/>
                    <span style="color: hsl(218, 81%, 75%)">Save the future</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Being green is about respecting our environment by keeping it clean and not leaving trash and using
                    our resources in the right way, without wasting them. Sustainability is about using what we have in
                    a way that can last for years to come.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form th:action="@{/app/auth/login}" method="post">
                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                                You have been logged out.
                            </div>
                            <div th:if="${message != null}" class="alert alert-success" role="alert">
                                <span th:text="${message}"></span>
                            </div>

                            <!-- User Name -->
                            <div class="form-outline mb-4">
                                <input type="text" name="username" id="form3Example3" class="form-control"/>
                                <label class="form-label" for="form3Example3">User Name</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password" id="form3Example4" class="form-control"/>
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <!-- Submit button -->
                            <button id="button-main" type="submit" class="btn btn-primary btn-block mb-4 btn-success to-spin">
                                Sign In
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"><a th:href="@{/app/auth/registration}">or sign up!</a></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script th:src="@{/js/button-spin.js}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

