<!doctype html>
<html lang="en">
<head>
    <link rel="icon" th:href="@{/images/app-icon.png}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login-back.css}">
    <title>My containers</title>
</head>

<body>
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-12 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
<!--                /////-->


                <div class="album py-5 bg-glass">
                    <div class="container">
                        <div class="d-flex flex-row-reverse">
                            <form th:action="@{/app/home}" class="d-flex flex-row">
                                <button type="submit" class="btn  btn-outline-success to-spin">Back</button>
                            </form>
                        </div>

                        <h6 class="border-bottom border-gray pb-2 mb-0">My containers</h6>

                        <div class="row">
                                <div th:each="container : ${containers}" class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" th:src="@{/images/being-green.jpeg}" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text"><span th:text="${container.name}"></span>. <span th:text="${container.address}"></span></p>
                                            <p th:text="${container.description}"></p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group btn-group-toggle">
                                                    <form th:action="@{/app/map/marker/show}">
                                                        <input type="hidden" name="id" th:value="${container.id}">
                                                        <button type="submit" class="btn btn-sm btn-success to-spin">More info</button>
                                                    </form>

                                                    <form th:action="@{/app/pointing/show}" >
                                                        <input type="hidden" name="id" th:value="${container.id}">
                                                        <input type="hidden" name="name" th:value="${container.name}">
                                                        <button type="submit" class="btn btn-sm btn-success to-spin">Pointing
                                                        </button>
                                                    </form>

                                                    <form th:if ="${container.isBeSeen}" th:action="@{/app/map/container/show/disable}" method="post">
                                                        <input type="hidden" name="id" th:value="${container.id}">
                                                        <input type="hidden" name="name" th:value="${container.name}">
                                                        <button type="submit" class="btn btn-sm btn-outline-danger to-spin">Disable
                                                        </button>
                                                    </form>

                                                    <form th:if ="${!container.isBeSeen}" th:action="@{/app/map/container/show/enable} " method="post">
                                                        <input type="hidden" name="id" th:value="${container.id}">
                                                        <input type="hidden" name="name" th:value="${container.name}">
                                                        <button type="submit" class="btn btn-sm btn-outline-success to-spin">Enable
                                                        </button>
                                                    </form>
                                                </div>
                                                <small class="text-muted" th:text="${container.getCreatedOn()}">9 mins</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>


                    </div>
                        <small class="d-flex justify-content-center mt-3">
                            <form th:action="@{/app/map/marker/choice}">
                                <button type="submit" class="btn btn-success to-spin">Add new one</button>
                            </form>
                        </small>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/js/button-spin.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>